In [1]:
import tensorflow as tf
from tensorflow import keras
import pandas as pd

import numpy as np
import matplotlib.pyplot as plt
from sklearn import preprocessing

In [2]:
from keras import backend as K

In [3]:
import os
print(os.getcwd())

C:\Users\freedom\PycharmProjects\industrial temperature

In [4]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [5]:
df = pd.read_csv('train.csv')

In [6]:
train

,Id,Date,Time,CO2_(dinning-room),CO2_room,Relative_humidity_(dinning-room),Relative_humidity_room,Lighting_(dinning-room),Lighting_room,Meteo_Rain,Meteo_Sun_dusk,Meteo_Wind,Meteo_Sun_light_in_west_facade,Meteo_Sun_light_in_east_facade,Meteo_Sun_light_in_south_facade,Meteo_Sun_irradiance,Outdoor_relative_humidity_Sensor,Day_of_the_week,Indoor_temperature_room
0,0,13/03/2012,11:45,216.560,221.920,39.9125,42.4150,81.6650,113.5200,0.0,623.360,1.426250,9690.24,12604.20,95436.800,758.8800,48.3750,2.0,17.8275
1,1,13/03/2012,12:00,219.947,220.363,39.9267,42.2453,81.7413,113.6050,0.0,623.211,1.592000,11022.00,10787.20,95436.800,762.0690,47.8080,2.0,18.1207
2,2,13/03/2012,12:15,219.403,218.933,39.7720,42.2267,81.4240,113.6000,0.0,622.656,1.891330,13960.50,9669.63,95398.600,766.2510,47.4320,2.0,18.4367
3,3,13/03/2012,12:30,218.613,217.045,39.7760,42.0987,81.5013,113.3440,0.0,622.571,1.828000,18511.20,9648.13,95360.300,766.0370,47.0240,2.0,18.7513
4,4,13/03/2012,12:45,217.714,216.080,39.7757,42.0686,81.4657,113.0340,0.0,622.400,2.360710,26349.00,9208.32,95354.900,762.7430,45.4743,2.0,19.0414
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2759,2759,11/04/2012,05:30,190.539,192.181,41.3120,41.6880,11.4427,12.9400,0.0,392.603,0.074667,0.00,0.00,0.000,-3.4340,49.2960,3.0,20.8187
2760,2760,11/04/2012,05:45,190.421,193.067,41.3173,41.7200,11.6867,19.3200,0.0,613.120,0.000000,465.92,2716.67,523.264,3.8520,50.0373,3.0,20.7053
2761,2761,11/04/2012,06:00,190.432,193.653,41.3333,41.7573,19.5387,23.2427,0.0,613.803,0.310667,3454.98,16203.80,3347.460,26.8300,50.0587,3.0,20.5827
2762,2762,11/04/2012,06:15,191.531,193.387,41.3093,41.8107,20.9853,23.4400,0.0,615.403,0.299333,6795.26,38303.10,7110.660,66.9493,49.8400,3.0,20.5200
2763,2763,11/04/2012,06:30,191.563,193.664,41.2800,41.8373,20.5620,22.3080,0.0,616.725,0.908000,8952.83,51347.50,10270.700,112.2670,50.2987,3.0,20.4400

In [14]:
train['Date'][0]

'13/03/2012'

In [16]:
from datetime import datetime, time
date_str = train['Date'][0]
time_str = train['Time'][0]

# 解析日期部分
date = datetime.strptime(date_str, '%d/%m/%Y').date()

# 解析时间部分
time = datetime.strptime(time_str, '%H:%M').time()

# 将日期和时间合并成 datetime 对象
combined_datetime = datetime.combine(date, time)

print(combined_datetime)

2012-03-13 11:45:00

In [24]:
from datetime import datetime, time, timedelta
def strTotime(date_str, time_str):
  # 解析日期部分
  date = datetime.strptime(date_str, '%d/%m/%Y').date()

  # 解析时间部分
  time = datetime.strptime(time_str, '%H:%M').time()

  # 将日期和时间合并成 datetime 对象
  combined_datetime = datetime.combine(date, time)
  return combined_datetime

In [23]:
import json

def dataTojson(df):
  json_data = {}
  for index, row in df.iterrows():
    json_data[str(row['time'])] = str(row['temperature'])

  # 将字典转换为 JSON 格式的字符串
  json_data_str = json.dumps(json_data)

  # 打印或返回 JSON 格式的数据
  return json_data_str

In [22]:
time = strTotime(train['Date'][0],train['Time'][0])

'2012-03-13T11:45:00'

In [25]:
current_time = datetime.now().replace(second=0, microsecond=0)
for i in range(15):
  time = current_time - timedelta(minutes=i)
  print(time)

2024-07-25 10:40:00
2024-07-25 10:39:00
2024-07-25 10:38:00
2024-07-25 10:37:00
2024-07-25 10:36:00
2024-07-25 10:35:00
2024-07-25 10:34:00
2024-07-25 10:33:00
2024-07-25 10:32:00
2024-07-25 10:31:00
2024-07-25 10:30:00
2024-07-25 10:29:00
2024-07-25 10:28:00
2024-07-25 10:27:00
2024-07-25 10:26:00

In [28]:
current_time = datetime.now().replace(second=0, microsecond=0)
for j in range(5):
  new_time = current_time + timedelta(minutes = (j + 1) * 15)
  print(new_time)

2024-07-25 11:00:00
2024-07-25 11:15:00
2024-07-25 11:30:00
2024-07-25 11:45:00
2024-07-25 12:00:00

In [ ]:
predictData = pd.DataFrame(columns=['time', 'temperature'])
new_row = pd.DataFrame({'time': [new_time], 'temperature': [new_temperature]})
predictData = pd.concat([predictData, new_row]).sort_values(by='time').reset_index(drop=True)

In [29]:
train.drop(['Id','Date','Time','Day_of_the_week','CO2_(dinning-room)','CO2_room','Relative_humidity_(dinning-room)','Lighting_(dinning-room)','Lighting_room','Meteo_Sun_dusk','Meteo_Sun_light_in_south_facade'],axis=1,inplace=True)

In [124]:
train=pd.read_csv('train.csv')
train.drop(['Id','Day_of_the_week','CO2_(dinning-room)','CO2_room','Relative_humidity_(dinning-room)','Lighting_(dinning-room)','Lighting_room','Meteo_Sun_dusk','Meteo_Sun_light_in_south_facade'],axis=1,inplace=True)

In [125]:
newtrain = train[:480]

In [ ]:
newtrain['dateTime'] = newtrain['Date'] + ' ' + newtrain['Time']
newtrain['dateTime'] = pd.to_datetime(newtrain['dateTime'])
newtrain = newtrain.drop(['Date', 'Time'], axis=1)
newtrain

In [129]:
cols = newtrain.columns.tolist()  # 将列名转换为列表
cols = ['dateTime'] + [col for col in cols if col != 'dateTime']  # 调整列的顺序，将 datetime 放在第一列
newtrain = newtrain[cols]
newtrain

,dateTime,Relative_humidity_room,Meteo_Rain,Meteo_Wind,Meteo_Sun_light_in_west_facade,Meteo_Sun_light_in_east_facade,Meteo_Sun_irradiance,Outdoor_relative_humidity_Sensor,Indoor_temperature_room
0,2012-03-13 11:45:00,42.4150,0.0,1.42625,9690.24,12604.20,758.880,48.3750,17.8275
1,2012-03-13 12:00:00,42.2453,0.0,1.59200,11022.00,10787.20,762.069,47.8080,18.1207
2,2012-03-13 12:15:00,42.2267,0.0,1.89133,13960.50,9669.63,766.251,47.4320,18.4367
3,2012-03-13 12:30:00,42.0987,0.0,1.82800,18511.20,9648.13,766.037,47.0240,18.7513
4,2012-03-13 12:45:00,42.0686,0.0,2.36071,26349.00,9208.32,762.743,45.4743,19.0414
...,...,...,...,...,...,...,...,...,...
475,2012-03-18 10:30:00,41.0387,0.0,2.67933,10835.30,46900.60,710.528,43.9413,19.6120
476,2012-03-18 10:45:00,40.8440,0.0,1.53733,10235.90,34757.30,735.403,43.1787,19.8960
477,2012-03-18 11:00:00,40.4120,0.0,1.45267,9741.31,24802.60,758.741,42.5520,20.1787
478,2012-03-18 11:15:00,40.0307,0.0,1.85467,9218.05,18419.00,774.699,41.9173,20.4807
479,2012-03-18 11:30:00,39.8147,0.0,2.16667,9003.01,15330.00,790.699,41.2373,20.7400

In [140]:
for i in range(1, 16):  # 从1到15，共15组
    start_index = (i - 1) * 32  # 每组的起始索引
    group_datetime = datetime(2012, 3, 13, 11, 45, 0) + timedelta(minutes=i)  # 每组的初始时间加上 i 分钟
    
    # 调整每组32个数据的时间
    for j in range(32):
        index = start_index + j
        newtrain.at[index, 'dateTime'] = group_datetime
        group_datetime += timedelta(minutes=15)  # 每32个数据按顺序加15分钟

In [142]:
newtrain = newtrain.sort_values(by='dateTime')

,dateTime,Relative_humidity_room,Meteo_Rain,Meteo_Wind,Meteo_Sun_light_in_west_facade,Meteo_Sun_light_in_east_facade,Meteo_Sun_irradiance,Outdoor_relative_humidity_Sensor,Indoor_temperature_room
0,2012-03-13 11:46:00,42.4150,0.0,1.426250,9690.24,12604.2,758.88000,48.3750,17.8275
32,2012-03-13 11:47:00,42.0027,0.0,0.661333,0.00,0.0,-3.57733,57.5387,22.5533
64,2012-03-13 11:48:00,42.8507,0.0,0.041333,0.00,0.0,-3.25067,56.0453,17.1553
96,2012-03-13 11:49:00,40.6240,0.0,2.028000,9777.15,13444.4,763.52000,52.4213,21.4240
128,2012-03-13 11:50:00,45.0560,0.0,0.564000,0.00,0.0,-3.51200,62.4880,21.1293
...,...,...,...,...,...,...,...,...,...
351,2012-03-13 19:41:00,49.6507,0.0,0.861333,0.00,0.0,-3.18533,65.8667,16.2247
383,2012-03-13 19:42:00,46.5013,0.0,1.958670,9504.77,15587.3,764.41600,52.6800,18.4620
415,2012-03-13 19:43:00,39.6427,0.0,0.166000,0.00,0.0,-3.90400,33.9613,22.3440
447,2012-03-13 19:44:00,43.3120,0.0,1.248670,0.00,0.0,-3.38133,48.0827,19.4033
479,2012-03-13 19:45:00,39.8147,0.0,2.166670,9003.01,15330.0,790.69900,41.2373,20.7400

In [143]:
newtrain = newtrain.reset_index(drop=True)

,dateTime,Relative_humidity_room,Meteo_Rain,Meteo_Wind,Meteo_Sun_light_in_west_facade,Meteo_Sun_light_in_east_facade,Meteo_Sun_irradiance,Outdoor_relative_humidity_Sensor,Indoor_temperature_room
0,2012-03-13 11:46:00,42.4150,0.0,1.426250,9690.24,12604.2,758.88000,48.3750,17.8275
1,2012-03-13 11:47:00,42.0027,0.0,0.661333,0.00,0.0,-3.57733,57.5387,22.5533
2,2012-03-13 11:48:00,42.8507,0.0,0.041333,0.00,0.0,-3.25067,56.0453,17.1553
3,2012-03-13 11:49:00,40.6240,0.0,2.028000,9777.15,13444.4,763.52000,52.4213,21.4240
4,2012-03-13 11:50:00,45.0560,0.0,0.564000,0.00,0.0,-3.51200,62.4880,21.1293
...,...,...,...,...,...,...,...,...,...
475,2012-03-13 19:41:00,49.6507,0.0,0.861333,0.00,0.0,-3.18533,65.8667,16.2247
476,2012-03-13 19:42:00,46.5013,0.0,1.958670,9504.77,15587.3,764.41600,52.6800,18.4620
477,2012-03-13 19:43:00,39.6427,0.0,0.166000,0.00,0.0,-3.90400,33.9613,22.3440
478,2012-03-13 19:44:00,43.3120,0.0,1.248670,0.00,0.0,-3.38133,48.0827,19.4033
479,2012-03-13 19:45:00,39.8147,0.0,2.166670,9003.01,15330.0,790.69900,41.2373,20.7400

In [145]:
newtrain['dateTime'] = newtrain['dateTime'].dt.strftime('%Y-%m-%d %H:%M:%S')
newtrain.to_csv('newdata.csv', index=False)

In [148]:
d = pd.read_csv('newdata.csv')
d['dateTime'][0]

'2012-03-13 11:46:00'

In [7]:
train.dtypes

Relative_humidity_room              float64
Meteo_Rain                          float64
Meteo_Wind                          float64
Meteo_Sun_light_in_west_facade      float64
Meteo_Sun_light_in_east_facade      float64
Meteo_Sun_irradiance                float64
Outdoor_relative_humidity_Sensor    float64
Indoor_temperature_room             float64
dtype: object

In [8]:
train = train.astype(dtype="float32")
train.dtypes

Relative_humidity_room              float32
Meteo_Rain                          float32
Meteo_Wind                          float32
Meteo_Sun_light_in_west_facade      float32
Meteo_Sun_light_in_east_facade      float32
Meteo_Sun_irradiance                float32
Outdoor_relative_humidity_Sensor    float32
Indoor_temperature_room             float32
dtype: object

In [116]:
train

,Relative_humidity_room,Meteo_Rain,Meteo_Wind,Meteo_Sun_light_in_west_facade,Meteo_Sun_light_in_east_facade,Meteo_Sun_irradiance,Outdoor_relative_humidity_Sensor,Indoor_temperature_room
0,42.4150,0.0,1.426250,9690.24,12604.20,758.8800,48.3750,17.8275
1,42.2453,0.0,1.592000,11022.00,10787.20,762.0690,47.8080,18.1207
2,42.2267,0.0,1.891330,13960.50,9669.63,766.2510,47.4320,18.4367
3,42.0987,0.0,1.828000,18511.20,9648.13,766.0370,47.0240,18.7513
4,42.0686,0.0,2.360710,26349.00,9208.32,762.7430,45.4743,19.0414
...,...,...,...,...,...,...,...,...
2759,41.6880,0.0,0.074667,0.00,0.00,-3.4340,49.2960,20.8187
2760,41.7200,0.0,0.000000,465.92,2716.67,3.8520,50.0373,20.7053
2761,41.7573,0.0,0.310667,3454.98,16203.80,26.8300,50.0587,20.5827
2762,41.8107,0.0,0.299333,6795.26,38303.10,66.9493,49.8400,20.5200
2763,41.8373,0.0,0.908000,8952.83,51347.50,112.2670,50.2987,20.4400

In [30]:
percentage = 0.8
splitting_time = int(len(train) * percentage)

train_x = np.array(train.values[:splitting_time],dtype=np.float32)
val_x = np.array(train.values[splitting_time:],dtype=np.float32)

print("train dataset size : %d" %len(train_x))
print("validation dataset size : %d" %len(val_x))

train dataset size : 2211
validation dataset size : 553

In [76]:
train_x = tf.convert_to_tensor(train_x)
test_x = tf.convert_to_tensor(val_x)
scaler = preprocessing.MinMaxScaler()
scaler.fit(train_x)
train_x_norm = scaler.transform(train_x)
val_x_norm = scaler.transform(val_x)

In [ ]:
train_x_norm

In [89]:
scalerTem = preprocessing.MinMaxScaler()
scalerTem.fit(tf.reshape(train_x[:, 7], shape=(-1, 1)))
train_x_norm1 = scalerTem.transform(tf.reshape(train_x[:, 7], shape=(-1, 1)))

In [110]:
tf.reshape(train_x[:, 7], shape=(-1, 1)).shape

TensorShape([2211, 1])

In [104]:
scalerOther = preprocessing.MinMaxScaler()
scalerOther.fit(train_x[:, :7])
train_x_norm1 = scalerOther.transform(train_x[:, :7])

In [ ]:
train_x_norm1

In [ ]:
import mindspore.nn as nn
import mindspore.ops as ops
import mindspore as ms
from mindspore import Tensor
from mindspore import context
import mindspore.numpy as mnp
from mindspore.common.initializer import XavierUniform

context.set_context(mode=context.GRAPH_MODE, device_target="CPU")  # 设置MindSpore运行模式

class WaveNetTimeSeries(nn.Cell):
    def __init__(self, len_seq, len_out, dim_exo, nb_filters, dim_filters, dilation_depth, use_bias, res_l2, final_l2, batch_size):
        super(WaveNetTimeSeries, self).__init__()
        self.len_seq = len_seq
        self.len_out = len_out
        self.dim_exo = dim_exo
        self.nb_filters = nb_filters
        self.dim_filters = dim_filters
        self.dilation_depth = dilation_depth
        self.use_bias = use_bias
        self.res_l2 = res_l2
        self.final_l2 = final_l2
        self.batch_size = batch_size
        
        # 定义卷积层
        self.conv1d_exo = nn.Conv1d(in_channels=dim_exo, out_channels=nb_filters, kernel_size=dim_filters, has_bias=use_bias, dilation=1)
        self.conv1d_target = nn.Conv1d(in_channels=1, out_channels=nb_filters, kernel_size=dim_filters, has_bias=use_bias, dilation=1)
        
        # 定义残差连接和跳跃连接
        self.conv1x1_exo = nn.Conv1d(in_channels=nb_filters, out_channels=dim_exo, kernel_size=1, has_bias=False)
        self.conv1x1_target = nn.Conv1d(in_channels=nb_filters, out_channels=1, kernel_size=1, has_bias=False)
        
        self.relu = nn.ReLU()
        self.linear = nn.Dense(nb_filters, 1)

    def construct(self, input_exo, input_target):
        outputs = []
        for t in range(self.len_out):
            # 处理外部输入序列
            out_exo = ops.pad(input_exo, ((0, 0), (self.dim_filters - 1, 0), (0, 0)))
            out_exo = self.conv1d_exo(out_exo)
            
            # 处理目标序列
            out_target = ops.pad(input_target, ((0, 0), (self.dim_filters - 1, 0), (0, 0)))
            out_target = self.conv1d_target(out_target)
            
            skip_outputs = []
            
            # Dilated Convolution for exogenous and target series
            z_exo = ops.pad(out_exo, ((0, 0), (2 * (self.dim_filters - 1), 0), (0, 0)))
            z_exo = self.relu(self.conv1d_exo(z_exo))
            skip_exo = self.conv1x1_exo(z_exo)
            first_out_exo = self.conv1x1_exo(z_exo)

            z_target = ops.pad(out_target, ((0, 0), (2 * (self.dim_filters - 1), 0), (0, 0)))
            z_target = self.relu(self.conv1d_target(z_target))
            skip_target = self.conv1x1_target(z_target)
            first_out_target = self.conv1x1_target(z_target)
            
            # Skip connections and residual connections
            skip_outputs.append(mnp.concat([skip_exo, skip_target], axis=1))
            res_exo_out = input_exo + first_out_exo
            res_target_out = input_target + first_out_target
            
            # Intermediate layers
            out_concat = mnp.concat([res_exo_out, res_target_out], axis=1)
            out = out_concat
            for i in range(2, self.dilation_depth + 1):
                z = ops.pad(out_concat, ((0, 0), (2**i * (self.dim_filters - 1), 0), (0, 0)))
                z = self.relu(self.conv1d_exo(z))  # or self.conv1d_target(z) depending on which series
                skip_x = self.conv1x1_exo(z)  # or self.conv1x1_target(z)
                first_out_x = self.conv1x1_exo(z)  # or self.conv1x1_target(z)
                out = out + first_out_x
                skip_outputs.append(skip_x)
            
            out = sum(skip_outputs)
            out = self.linear(out)
            outputs.append(out[:, -1:, :])
            
            # Update inputs for the next time step
            input_exo = mnp.concatenate([input_exo, out[:, -1:, :]], axis=1)
            input_exo = input_exo[:, 1:, :]
            
            input_target = mnp.concatenate([input_target, out[:, -1:, :]], axis=1)
            input_target = input_target[:, 1:, :]

        outputs = mnp.stack(outputs, axis=1)
        outputs = outputs.squeeze(-1)
        return outputs

In [33]:
def compute_len_seq(dilation_depth):
  return (2 ** dilation_depth * 2)

In [ ]:
nb_filters = 96
dim_filters = 2
dilation_depth = 4     # len_seq = 32
use_bias = False
res_l2 = 0
final_l2 = 0

batch_size = 128
len_out = 5
dim_exo = 7

len_seq = compute_len_seq(dilation_depth)
print(len_seq)

model = WaveNetTimeSeries(len_seq, len_out, dim_exo, nb_filters, dim_filters, dilation_depth, use_bias, res_l2, final_l2,batch_size=batch_size)
model.summary()

In [34]:
def prepare_dataset_XY(seriesx, seriesy, len_seq, len_out, batch_size,shift):
  dataset_x = tf.data.Dataset.from_tensor_slices(seriesx)
  dataset_x = dataset_x.window(len_seq+len_out, shift = shift, drop_remainder=True)
  dataset_x = dataset_x.flat_map(lambda x: x.batch(len_seq+len_out))
  dataset_x = dataset_x.map(lambda x: x[0:len_seq][:,:]) # shape:[[ ]]
  dataset_x = dataset_x.batch(batch_size, drop_remainder=True).prefetch(1) # shape: [[[]]] (adding the batch_size)

  # The target series
  # (Y1,Y2,...,YT)
  dataset_y = tf.data.Dataset.from_tensor_slices(seriesy)
  dataset_y = dataset_y.window(len_seq+len_out, shift = shift, drop_remainder=True)
  dataset_y = dataset_y.flat_map(lambda x: x.batch(len_seq+len_out))
  dataset_y = dataset_y.map(lambda x: x[0:len_seq][:,:]) 
  dataset_y = dataset_y.batch(batch_size, drop_remainder=True).prefetch(1)
  dataset_ypred = tf.data.Dataset.from_tensor_slices(seriesy)
  dataset_ypred = dataset_ypred.window(len_seq+len_out+1, shift=shift, drop_remainder=True)
  dataset_ypred = dataset_ypred.flat_map(lambda x: x.batch(len_seq+len_out+1))
  dataset_ypred = dataset_ypred.map(lambda x: (x[0:len_seq+1][-len_out:,:]))
  dataset_ypred = dataset_ypred.batch(batch_size, drop_remainder=True).prefetch(1)

  dataset = tf.data.Dataset.zip((dataset_x, dataset_y))
  dataset = tf.data.Dataset.zip((dataset, dataset_ypred))
  return dataset

In [ ]:
X1 = np.linspace(1,100,100) # 3 exogenous series
X2 = np.linspace(101,200,100)
X3 = np.linspace(201,300,100)
Y = np.linspace(301,400,100) # target series

X1 = tf.expand_dims(X1,-1)
X2 = tf.expand_dims(X2,-1)
X3 = tf.expand_dims(X3,-1)
Y = tf.expand_dims(Y,-1)

series_x = tf.concat([X1,X2,X3], axis=1)
series_y = Y
print(series_x.shape)
print(series_y.shape)

In [36]:
len_seq = 10
len_out = 1
shift = 1
batch_size = 1

dataset_example = prepare_dataset_XY(series_x, series_y, len_seq, len_out, batch_size,shift)

In [39]:
batch_size = 128
len_out = 5
len_seq = compute_len_seq(dilation_depth)
shift=1

# Dataset creation
dataset = prepare_dataset_XY(train_x_norm[:,0:-1], train_x_norm[:,-1:], len_seq, len_out, batch_size, shift)
dataset_val = prepare_dataset_XY(val_x_norm[:,0:-1], val_x_norm[:,-1:], len_seq, len_out, batch_size, shift)

In [ ]:
X1 = []
X2 = []

# Extracting x and y from the dataset
x,y = tuple(zip(*dataset)) #x: 16x((BS,32,14),(BS,32,1)) with BS= batch_size
                           #y: 16x(BS,5,1)
for i in range(len(x)):
  X1.append(x[i][0])
  X2.append(x[i][1]) 

X1 = np.asarray(X1, dtype = np.float32) # (16,BS,32,14)
X2 = np.asarray(X2, dtype = np.float32) # (16,BS,32,1)
y =  np.asarray(y, dtype= np.float32)    # (16,BS,5,1)

# Reshaping them
X1 = np.reshape(X1,(X1.shape[0]*X1.shape[1], X1.shape[2], X1.shape[3])) # (16,BS,32,14) --> (16xBS,32,14)
X2 = np.reshape(X2,(X2.shape[0]*X2.shape[1], X2.shape[2], X2.shape[3])) # (16,BS,32,1)  --> (16xBS,32,1)

x_train = [X1,X2]
y_train = np.reshape(y,(y.shape[0]*y.shape[1], y.shape[2], y.shape[3])) # (16,BS,5,1) --> (16xBS,5,1)

In [ ]:
X1 =[]
X2 =[]
x,y = tuple(zip(*dataset_val)) 
        
for i in range(len(x)):
  X1.append(x[i][0])
  X2.append(x[i][1])

X1 = np.asarray(X1,dtype=np.float32)
X2 = np.asarray(X2, dtype = np.float32)
y = np.asarray(y, dtype= np.float32)

# Reshaping them
X1 = np.reshape(X1,(X1.shape[0]*X1.shape[1], X1.shape[2], X1.shape[3]))
X2 = np.reshape(X2,(X2.shape[0]*X2.shape[1], X2.shape[2], X2.shape[3]))

x_val = [X1,X2]
y_val = np.reshape(y,(y.shape[0]*y.shape[1], y.shape[2], y.shape[3]))

In [ ]:
import mindspore as ms
import mindspore.nn as nn
import mindspore.ops as ops
import mindspore.dataset as ds
from mindspore import context, Model, Tensor
from mindspore.common.initializer import Normal
from mindspore.train.callback import ModelCheckpoint, CheckpointConfig, LossMonitor
from mindspore.train import EarlyStopping
from mindspore.train.serialization import load_checkpoint, load_param_into_net, save_checkpoint


context.set_context(mode=context.GRAPH_MODE, device_target="GPU")

max_periods = 1000


model = WaveNetTimeSeries(len_seq, len_out, dim_exo, nb_filters, dim_filters, dilation_depth, use_bias, res_l2, final_l2, batch_size=int(batch_size))

x_train_0 = np.array(x_train[0], dtype=np.float32)
x_train_1 = np.array(x_train[1], dtype=np.float32)
y_train = np.array(y_train, dtype=np.float32)
train_data = [(x_train_0[i], x_train_1[i], y_train[i]) for i in range(len(y_train))]
def data_generator(data):
    for item in data:
        yield item


train_dataset = ds.GeneratorDataset(source=data_generator(train_data), 
                                    column_names=["x_train_0", "x_train_1", "y_train"],
                                    shuffle=True)


train_dataset = train_dataset.batch(batch_size=batch_size)

lr_schedule = nn.exponential_decay_lr(learning_rate=0.005, decay_rate=0.01, decay_steps=50, is_stair=False)


opt = nn.Adam(params=model.trainable_params(), learning_rate=lr_schedule)


loss_fn = nn.MSELoss()


train_model = Model(network=model, loss_fn=loss_fn, optimizer=opt, metrics={'mse': nn.Metric()})


config_ckpt = CheckpointConfig(save_checkpoint_steps=1, keep_checkpoint_max=5)
ckpt_cb = ModelCheckpoint(prefix="weights_train", directory="./", config=config_ckpt)

early_stopping_cb = EarlyStopping(monitor='loss', patience=200)

train_model.train(max_periods, train_dataset, 
                  callbacks=[ckpt_cb, early_stopping_cb, LossMonitor()], dataset_sink_mode=False)